# Prisma
DATABASE_URL=

# Next Auth
NEXTAUTH_URL=
NEXTAUTH_SECRET=

# Email provider
EMAIL_SERVER_USER=
EMAIL_SERVER_PASSWORD=
EMAIL_SERVER_HOST=
EMAIL_SERVER_PORT=
EMAIL_FROM=

# Google provider
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# AWS
REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
BUCKET_NAME=
AWS_CLOUDFRONT_DOMAIN=

# Upstash Redis
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=